{% extends 'base.html.twig' %}

{% block title %}Hello DeptController!
{% endblock %}

{% block body %}
	{% include "nav.html.twig" %}
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div class="col-8">
				{% include "flash.html.twig" %}
				{% block body_method %}
					<a href={{ path('department.add') }} class="btn btn-dark" style="margin-bottom:5px;">add dept</a>
					<table class="table table-dark table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Code</th>
								<th>Description</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for employees in employee %}
								<tr>
									<td>
										{{ employees.id }}</td>
									<td>
										{{ employees.code }}</td>
									<td>
										{{ employees.description }}</td>
                                    <td>
                                        <a href={{ path('department.show',{ id:employees.id }) }} class="btn btn-primary" style="margin-bottom:5px;">view</a>
                                        <a href={{ path('department.edit',{ id:employees.id } ) }} class="btn btn-primary" style="margin-bottom:5px;">edit</a>
                                        <a href={{ path('department.delete',{ id:employees.id }) }} class="btn btn-danger" style="margin-bottom:5px;">delete</a>
										</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				{% endblock %}
			</div>
			<div class="col"></div>
		</div>
	</div>
	{% include "foot.html.twig" %}
{% endblock %}
